.header__logo {
  a {
    display: flex;
    padding: 10px;
    margin-top: 10px;

    img {
      width: 100%;
      padding: auto;
    }

    span {
      font-size: 20px;
      line-height: 1;
      font-weight: 900;
    }
  }
}

.header__menu {
  padding-top: 15px;

  .menu {
    li {
      margin-bottom: 5px;

      a {
        font-size: 10px;
        display: block;
        padding: 0.9rem 2rem 0rem 50px;
        margin: 0 0.625rem;
        position: relative;
        line-height: 1;

        svg {
          width: 1.25rem;
          height: 1.25rem;
          position: absolute;
          left: 1.25rem;
          top: 0.75rem;
        }

        &:hover {
          background-color: var(--black100);
          color: var(--white);
        }

        &.active a {
          background-color: var(--black100);
          color: var(--white);
        }
      }
    }
  }
}

.header__sns {
  position: fixed;
  bottom: 0;
  left: -60px;
  right: 0;
  width: 260px;
  text-align: center;
  padding: 0px;
  background-color: var(--blackAlpha100);

  li {
    display: inline-block;

    a {
      padding: 5px 7px;
      display: inline-block;
    }
  }
}
