.sidebar {
   flex: 0.2;
   padding: 20px 5px;
   width: 12.5rem;
   white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: scroll;
   
 }
 
 .sidebar > hr {
   height: 1px;
   border: 0;
   background-color: lightgray;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 .sidebar > span {
  font-size: large;
 }
 