.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-box {
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.signup-header {
  padding: 50px 0px 30px 0px;
  font-size: 35px;
  font-weight: bold;
}

.signup-Id {
  width: 60%;
  padding: 10px;
  margin-top: 30px;
}

.signup-email {
  width: 60%;
  padding: 10px;
  margin-top: 30px;
}

.signup-password {
  width: 60%;
  padding: 10px;
  margin-top: 30px;
}

.signup-password-check {
  width: 60%;
  padding: 10px;
  margin-top: 30px;
}

.signupSumbit {
  width: 200px;
  padding: 15px;
  margin-top: 30px;
  background-color: gray;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
}
