.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-box {
  width: 400px;
  height: 600px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.login-title-logo img {
  padding-top: 20px;
  width: 190px;
  height: 60px;
}

.login-header {
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.login-email {
  width: 60%;
  padding: 10px;
  margin-top: 8px;
}

.errorMessageWrap {
  font-size: 12px;
  color: red;
  padding-top: 5px;
}

.login-password {
  width: 60%;
  padding: 10px;
  margin: 8px 0px 8px 0px;
}

.remember-id {
  padding: 10px 100px 25px 0px;
}

.loginSumbit {
  width: 200px;
  padding: 10px;
  margin-bottom: 25px;
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.loginSumbit:disabled {
  background-color: gray;
  color: white;
}

.signup-in {
  border: none;
  padding: 15px;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
}

.social-login-icons img {
  padding: 10px;
  width: 60px;
  height: 60px;
}

.line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: gray;
  font-size: 15px;
  margin: 20px 0px 20px 0px;
}

.line::before {
  content: " ";
  flex-grow: 1;
  margin: 10px;
  background: gray;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}

.line::after {
  content: " ";
  flex-grow: 1;
  margin: 10px;
  background: gray;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
}
