.sidebar {
  padding: 20px 5px;
  width: 12.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-y: scroll;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar > span {
  font-size: large;
}

.sidebar::-webkit-scrollbar {
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #909090;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}
