.sidebarRowHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sidebarRowHeader__title {
  flex: 1;
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap; 
  text-overflow: ellipsis;
  overflow: hidden;
}

.sidebarRowHeader__icon {
  color: black;
  font-size: 24px !important;
}

.sidebarRowHeader:hover {
  background-color: #F5F5F5;
  cursor: pointer;
}